html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  background-color: #fff;
  color: #000;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #f3f7f9;
}

.top-header {
  background-color: #293449;
  color: #fff;
  font-size: 17px;
  line-height: 18px;
}

.logo {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #fff;
  box-shadow: 0px 5px #b52933;
  text-align: center;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
  box-shadow: 0px 5px #9a212a;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0px 5px #8e1e26;
}

.top-header .search-field {
  background-color: #293449;
  border: none;
}

.search-field::placeholder {
  color: #fff;
}

.search-field:hover {
  background-color: #212a3a;
}

.search-field:focus {
  background-color: #fff;
}

.search-field:focus::placeholder {
  color: #000;
}

.order-list {
  list-style: none;
}

.order-list-item a {
  color: inherit;
}

.order-list-item a:hover,
.order-list-item a:focus {
  background-color: #212a3a;
}

.order-list-item a:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.order-list-item.order a {
  background-color: #63a63e;
}

.order-list-item.order a:hover,
.order-list-item.order a:focus {
  background-color: #5fbb2d;
}

.order-list-item.order a:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}

.order-list-item.cart-added a {
  background-color: #ee3643;
}

.header-shop-description {
  font-style: italic;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #e9292a;
  border: 3px solid #fff;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-block ul {
  list-style: none;
}

.user-block-btn {
  font-size: 21px;
  line-height: 21px;
}

.user-block-btn a {
  color: #000;
  background-color: #fff;
}

.user-block-btn a:hover,
.user-block-btn a:focus {
  color: #ee3643;
}

.user-block-btn a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-btn.user-btn-loggedin a:hover,
.user-block-btn.user-btn-loggedin a:focus {
  color: #000;
}

.user-block-btn.user-btn-loggedin a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-loggedin a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-loggedin a:hover,
.user-loggedin a:focus {
  color: #ee3643;
}

.user-loggedin a:active {
  color: #32425c;
  opacity: 0.3;
}

.main-nav-list {
  list-style: none;
}

.main-nav {
  background-color: #32425c;
}

.main-nav a {
  color: #fff;
  font-size: 17px;
  line-height: 17px;
}

.main-nav a:hover,
.main-nav a:focus {
  background-color: #293449;
}

.main-nav a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.promo-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

.promo-item.promo-materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.promo-item.promo-tools {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.promo-item.promo-vehicles {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.promo-item.promo-discounts {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
}

.promo-item.promo-delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
}

.btn {
  border: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 2px;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.btn.promo-btn {
  background-color: rgba(238, 54, 67, 0.1);
}

.btn.promo-btn:hover,
.btn.promo-btn:focus {
  background-color: rgba(238, 54, 67, 0.2);
}

.btn.promo-btn:active {
  background-color: rgba(238, 54, 67, 0.3);
}

.promo-slider .slider-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
}

.promo-slider .slider-slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.promo-slider-drills {
  background-color: #685c53;
  background-image: url("../img/promo-slider1.jpg");
  background-repeat: no-repeat;
}

.promo-slider-perforators {
  background-color: #685c53;
  background-image: url("../img/promo-slider2.jpg");
  background-repeat: no-repeat;
}

.popular-products h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: 400;
}

.caption-wrapper {
  background-color: #f9f5f0;
}

.products-list {
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
}

.products-item {
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

.products-item:hover {
  box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
  border: none;
}

.products-item h3 {
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.price {
  color: #fff;
  background-color: #ee3643;
  font-size: 17px;
  line-height: 18px;
}

.price.old-price {
  color: #a9a9a9;
  background-color: #fff;
  text-decoration: line-through;
}

.buy-btn {
  background-color: #63a63e;
  box-shadow: inset 0px -3px #367315;
}

.buy-btn:hover,
.buy-btn:focus {
  background-color: #5fbb2d;
}

.buy-btn:active {
  background-color: #518534;
  box-shadow: none;
}

.bookmark-btn {
  background-color: #fff;
  border: 3px solid #63a63e;
  color: #32425c;
}

.bookmark-btn:hover,
.bookmark-btn:focus {
  border-color: #32425c;
  background-color: #fff;
}

.bookmark-btn:active {
  border-color: #32425c;
  background-color: #fff;
  opacity: 0.3;
}

.manufacturers h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: 400;
}

.manufacturers-list {
  list-style: none;
}

.manufacturers-item {
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.manufacturers-item:hover {
  box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
  border: none;
}

.manufacturers-item:active {
  border: none;
  box-shadow: 0px 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services {
  background-color: #f3f7f9;
  color: #000;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;  ;
}

.services h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  font-weight: 400;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.services-slider label {
  font-weight: 700;
  color: #fff;
  font-size: 21px;
  line-height: 30px;
  background-color: #32425c;
}

.services-slider label:hover {
  background-color: #293449;
}

.services-slider input.services-toggle:checked + label {
  color: #32425c;
  background-color: #fff;
}

.services-slider-delivery {
  background: url("../img/delivery.png") no-repeat;
}

.services-slider-waranty {
  background: url("../img/warranty.png") no-repeat;
}

.services-slider-credit {
  background: url("../img/credit.png") no-repeat;
}

.info-wrapper h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;  ;
}

.info-wrapper p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.transport-list {
  list-style: none;
}

.transport-list li {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.top-footer {
  background-color: #32425c;
  color: #f1f5f7;
}

.footer-logo {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee3643;
  box-shadow: 0px 5px #b52933;
  text-align: center;
}


.footer-info p {
  font-size: 18px;
  line-height: 24px;
}

.footer-nav ul {
  list-style: none;
}

.footer-nav a {
  font-size: 18px;
  line-height: 24px;
}

.footer-top-nav a {
  color: #f1f5f7;
}

.footer-bottom-nav a {
  color: #ffd180;
}

.footer-nav a:hover,
.footer-nav a:focus {
  text-decoration: underline;
}

.footer-nav a:active {
  opacity: 0.5;
  text-decoration: none;
}

.bottom-footer {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.social-list {
  list-style: none;
}

.social-btn {
  background-color: #212a3a;
  color: #fff;
}

.social-btn:hover,
.social-btn:focus,
.social-btn:active {
  background-color: #ee3643;
}

.footer-feedback-developed a {
  color: #ffd180;
}

.footer-feedback-developed a:hover,
.footer-feedback-developed a:focus {
  text-decoration: underline;
}

.footer-feedback-developed a:active {
  color: #ee3643;
  text-decoration: none;
}

.breadcrumbs {
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs a{
  color: #000;
}

.main-catalog h1 {
  background-color: #f2f6f8;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: 400;
}

.filter {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filter p {
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
}

.filter-fieldset {
  border: none;
}

.filter-fieldset legend {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
}

.range-filter-top {
  background-color: #f7f3ec;
}

.range-filter-bottom input {
  background-color: #f7f3ec;
  border: none;
  font-size: 17px;
  line-height: 18px;
}

.filter-fieldset ul {
  list-style: none;
}

.filter-fieldset label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.submit-btn {
  background-color: #fff;
  color: #000;
  border: 1px solid #e5e5e5;
}

.submit-btn:hover,
.submit-btn:focus,
.submit-btn:active {
  background-color: #fff;
  color: #000;
  border: 1px solid grey;
}

.sorting {
  background-color: #f7f3ec;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting a:hover,
.sorting a:focus {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.sorting a:active {
  color: #ee3643;
  border: none;
}

.pagination {
  list-style: none;
}

.pagination-item {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

.pagination-item a {
  color: #000;
  border: 1px solid #e5e5e5;
  width: 38px;
  height: 38px;
  border-radius: 2px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-current a {
  background-color: #ee3643;
  color: #fff;
}

.pagination-hidden {
  display: none;
}

.perforator-info {
  background-color: #f3f7f9;
}

.perforator-info h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;  ;
}

.perforator-info p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.modal-feedback {
  background-color: #fff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
  width: 620px;
  height: 430px;
}

.feedback-item label {
  font-size: 18px;
  line-height: 18px;
}

.feedback-item input::placeholder,
.feedback-item textarea::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.feedback-item input,
.feedback-item textarea {
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.feedback-form-bottom {
  background-color: #f4f4f4;
}

.modal-cart {
  background-color: #fff;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
  width: 620px;
  height: 282px;
}

.modal-cart-top p {
  font-size: 30px;
  line-height: 30px;
}

.modal-cart-bottom {
  background-color: #f1f1f1;
}

.btn.btn-continue {
  background-color: #fff;
  color: #000;
}

.modal-cart-top {
  background: url("../img/form-1.svg") no-repeat;
}
